/* Reset */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    /* Lo faccio solo io */
    font-family: "Fredoka", sans-serif;
    color:white;
}

body {
    background-color:#2E2E2E;
}

/* General Classes */
.red-color {
    color:#E53170;
    text-align:center;
}

.title-margin {
    margin-bottom:30px;
}

.clearfix::after {
    content:"";
    clear: both;
    display:table;
}

.email{
    color:#5CB6D8;
    text-decoration:none;
}

/* Header */
.container {
    max-width:1200px;
    margin:auto;
    padding:20px;
    background: linear-gradient(black 0%, #2E2E2E 90%) 0% 0% no-repeat padding-box;
    margin-top:50px;
    border-radius:20px;
}

header p:last-child{ /* ;) */
    text-align:center;
}

/* Main */
.container .profiles {
    width:100%;
    margin-top:50px;
    /* border:1px solid white;  */
}

.profiles > .pro-card {
    box-shadow: #e5317098 5px 12px 35px;
}

.pro-card {
    float:left;
    width: calc(100% / 3 - 20px);
    background: linear-gradient(black 0%, #2E2E2E 90%) 0% 0% no-repeat padding-box;
    border-radius:15px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:50px;
}

.pro-card:hover{
    animation: cardhover 3s linear infinite;
}

.pro-card img {
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    width:35%;
    float:left;
}

.pro-card p, a {
    display:block;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:40%; /* Cioè il margine dev'essere il 40% del container "pro-card" affinché vada quasi al centro*/
}

/* Animation */
@keyframes cardhover {
    0% {
        transform:scale(1.0);
    }
    50% {
        transform:scale(1.05);
    }100% {
        transform:scale(1.0);
    }
}